extends base.pug

block style
    style 
        include ../static/style.css

block content 
    .aboutPara 
        h1 Lorem Student Productivity
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. A quis suscipit officia perspiciatis commodi hic corrupti iure consequatur minima aliquam ratione, ut nulla, aliquid ex, nostrum neque! Expedita, impedit incidunt! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea consectetur ullam facere ratione, illum quaerat minima porro dolores at! Dolorem exercitationem deleniti neque corrupti vero pariatur incidunt optio ea cum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit delectus sint laboriosam commodi corporis totam, illum consequuntur a. Perspiciatis vitae vero natus fugit. Iusto sunt tempore, asperiores necessitatibus nisi nostrum?
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. A quis suscipit officia perspiciatis commodi hic corrupti iure consequatur minima aliquam ratione, ut nulla, aliquid ex, nostrum neque! Expedita, impedit incidunt! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea consectetur ullam facere ratione, illum quaerat minima porro dolores at! Dolorem exercitationem deleniti neque corrupti vero pariatur incidunt optio ea cum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit delectus sint laboriosam commodi corporis totam, illum consequuntur a. Perspiciatis vitae vero natus fugit. Iusto sunt tempore, asperiores necessitatibus nisi nostrum?
        ul 
            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, pariatur?
            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, pariatur?
            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, pariatur?
            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, pariatur?
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. A quis suscipit officia perspiciatis commodi hic corrupti iure consequatur minima aliquam ratione, ut nulla, aliquid ex, nostrum neque! Expedita, impedit incidunt! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea consectetur ullam facere ratione, illum quaerat minima porro dolores at! Dolorem exercitationem deleniti neque corrupti vero pariatur incidunt optio ea cum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit delectus sint laboriosam commodi corporis totam, illum consequuntur a. Perspiciatis vitae vero natus fugit. Iusto sunt tempore, asperiores necessitatibus nisi nostrum?
