html
  head
    title Lorem Student Productivity
    block scripts
    block style
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer")
  body
    .navigation 
            ul 
                img(src='../static/logo.png', style='width:45px; height:40px')
                li #[a(href="/home") Home]
                li #[a(href="/productivity") Productivity]
                li #[a(href="/about") About]
                li #[a(href="/contact") Contact Us]
    block content
    footer.footer   
      h3 Copyright@2022 | Harsh Saxena