extends base.pug

block style
    style 
        include ../static/style.css

block content 
    .contact-form 
        h1 Your Details has been saved!
        h2 #[a(href="/home") Continue with website!]
        