extends base.pug

block style
    style 
        include ../static/style.css

block content 
        div.banner 
            h1 Lorem Student Productivity 
        .main 
            img(src="../static/target.png") 
            .targetDesc 
                h1 Best Website To Track And Increase Your Productivity.
                p Introducing an easy to navigate user friendly website that will help you increase your productivity so you can make the best use of your time.