doctype html
html
    head
        title Lorem Student Productivity 
        style 
            include ../static/style.css
    body 
        .navigation 
            ul 
                li #[a(href="/") Home]
                li #[a(href="/") Productivity]
                li #[a(href="/") About]
                li #[a(href="/") Contact Us]
                li #[a(href="/") Services]
        div.banner 
            h1 Lorem Student Productivity 
        section.main    
            .element.home 
                h2 Home Page.
                p Get to the Home page of the website.
            .element.productivity 
                h2 Productivity 
                p Increase your Productivity.
            .element.about 
                h2 About Us
                p Know a little bit about us.
            .element.contactUs 
                h2 Contact Us 
                p Still have queries? Contact us.
            .element.services 
                h2 Services 
                p all the services that we offer.
        footer.footer 
