extends base.pug

block style
    style 
        include ../static/style.css

block content 
    .proBanner 
        img(src="../static/goal.jpg")
        h1.proHeading Increase Your Productivity!
    .mainPro
        .Stop-Watch
            .timerHeading
                h1 Track your time. Be productive.
            #stopwatch 00:00:00
            ul#buttons
                li
                    button(onclick='startTimer()') Start
                li
                    button(onclick='stopTimer()') Stop
                li
                    button(onclick='resetTimer()') Reset
            #timerTag
                h2#timerTagHeading Get Ready to have a Productive Day!
            script(src='../static/main.js')
        .to-do-list
            h1 To-Do List
            input(type='text' placeholder='Task to be done...')
            button#push Add
            .tasks
                //- .task
                //-     span#taskname hello world
                //-     button.delete
                //-         <i class="fa-regular fa-trash-can"></i>
            script(src='../static/to-so.js')
    .other-pro 
        .notes 
            h1 NOTES 
            textarea#notes(placeholder="Temporary Data..." , style="resize:none;")
        .calculator 
            h1 Calulator
            input#result
            .cal-buttons 
                .row.one 
                    button(onclick="dis('7')") 7
                    button(onclick="dis('8')") 8
                    button(onclick="dis('9')") 9
                    button(onclick="dis('*')") X
                .row.two 
                    button(onclick="dis('4')") 4
                    button(onclick="dis('5')") 5
                    button(onclick="dis('6')") 6
                    button(onclick="dis('-')") -
                .row.three 
                    button(onclick="dis('1')") 1
                    button(onclick="dis('2')") 2
                    button(onclick="dis('3')") 3
                    button(onclick="dis('+')") +
                .row.four 
                    button(onclick="solve()") 
                        |=
                    button(onclick="dis('0')") 0
                    button(onclick="dis('.')") 
                        | .
                    button(onclick="dis('/')") 
                        | /
                .row.five 
                    button#clear-btn(onclick="clr()") clear
            script(src="../static/cal.js")