extends base.pug

block style
    style 
        include ../static/style.css

block content 
    .proBanner 
        img(src="../static/goal.jpg")
        h1.proHeading Increase Your Productivity!
    .mainPro
        .Stop-Watch
            .timerHeading
                h1 Track your time. Be productive.
            #stopwatch 00:00:00
            ul#buttons
                li
                    button(onclick='startTimer()') Start
                li
                    button(onclick='stopTimer()') Stop
                li
                    button(onclick='resetTimer()') Reset
            #timerTag
                h2#timerTagHeading Get Ready to have a Productive Day!
            script(src='../static/main.js')
        .to-do-list
            h1 To-Do List
            input(type='text' placeholder='Task to be done...')
            button#push Add
            .tasks
                //- .task
                //-     span#taskname hello world
                //-     button.delete
                //-         <i class="fa-regular fa-trash-can"></i>
            script(src='../static/to-so.js')
    .other-pro 
        .notes 
            h1 NOTES 
            textarea#notes(placeholder="Temporary Data..." , style="resize:none;")
        .calculator 
            h1 Calulator
            textarea#cal-display(name="cal-display", cols="30", rows="10", style="resize:none;")
            .cal-buttons 
                .row.one 
                    button 7
                    button 8
                    button 9
                    button X
                .row.two 
                    button 4
                    button 5
                    button 6
                    button -
                .row.three 
                    button 1
                    button 2
                    button 3
                    button +
                .row.four 
                    button =
                    button 0
                    button 
                        | .
                    button 
                        | /