*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation{
    background-color: #5d3030;
    /* padding: 6px; */
}
.navigation ul{
    display: flex;
}
.navigation ul img{
    margin-top: 4px;
    margin-right: 30px;
}
.navigation ul li{
    list-style-type: none;
    padding: 12px 8px;
}
.navigation ul li:hover{
    background-color: #361c1c;
}
.navigation ul li a{
    text-decoration: none;
    color: white;
}

.banner{
    background: center / cover no-repeat url('static/banner.png');
    opacity: 0.9;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img{
    margin-bottom: 60px;
}
.banner h1{
    font-size: 60px;
    color: white;
    text-align: center;
    position: relative;
    top: -40px;
}
.main{
    display: flex;

}
.main img{
    max-height: 300px;
    margin: 40px 40px 40px 100px;
}
.targetDesc{
    margin: 40px;
}
.targetDesc h1{
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.targetDesc p{
    font-size: 24px;
    padding: 20px 20px 20px 4px;
}

.footer{
    background-color: black;
    padding: 12px;
    text-align: center;
}
.footer h3{
    color: white;
}

.contact-form{
    text-align: center;
    margin-top: 30px;
    background-color: antiquewhite;
    padding: 40px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    height: 60vh;
}
.contact-form h1{
    font-size: 50px;
}

.myForm{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.myForm input{
    width: 40vw;
    padding: 11px 15px;
    margin: 17px;
    border: 2px solid black;
    border-radius: 6px;
}

.myForm button{
    padding: 8px 20px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 6px;
    color: white;
    background-color: #5d3030;
    cursor: pointer;
}

.aboutPara{
    margin: 40px;
    background-color: antiquewhite;
    padding: 30px;
    border-radius: 10px;
}
.aboutPara h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.aboutPara p{
    margin: 25px 10px;
}

.proBanner{
    display: flex;
}
.proBanner img{
    height: 150px;
    margin: 20px 20px 0 125px;
}
.proHeading{
    text-align: center;
    font-size: 72px;
    padding: 20px;
    margin: 30px 20px 0 75px;
    color: gray;
    font-family:cursive;
}
.mainPro{
    display: flex;
    justify-content: space-around;
}

.Stop-Watch{
    background-color: #e9967a;
    margin: 40px auto;
    padding: 80px;
    text-align: center;
    border-radius: 16px;
}

#stopwatch{
    font-size: 150px;
    color: rgb(164, 2, 2);
}

#buttons{
    display: flex; 
    justify-content: space-around;
    margin-right: 28px;
}
#buttons li{
    list-style-type: none;
}
#buttons li button{
    padding: 8px;
    width: 135px;
    font-size: 18px;
    color: white;
    background-color: red;
    cursor: pointer;
    border-radius: 6px;
}
#buttons li button:hover{
    position: relative;
    top: -1px;
}

.timerHeading h1{
    font-size: 40px;
    padding: 10px;
    margin-bottom: 8px;
    color: rgb(133, 0, 0);
}

#timerTagHeading{
    font-size: 30px;
    margin-top: 60px;
}

.to-do-list{
    background-color: #add8e6;
    margin: 40px auto;
    padding: 40px;
    text-align: center;
    border-radius: 16px;
}
.to-do-list h1{
    font-size: 50px;
    color: blue;
}
.to-do-list input{
    padding: 10px;
    width: 300px;
}
.to-do-list button{
    padding: 10px;
    width: 100px;
    background-color: #0dade3;
    border: 2px solid blue;
    border-radius: 4px;
}
#push{
    max-width: 50px;
    color: white;
    background-color: #0dade3;
    border: 2px solid blue;
    border-radius: 4px;
}

.tasks{
    padding: 10px 14px 10px 0;
    font-size: 18px;
    margin: 10px auto;
    /* background-color: #ffffff; */
    border-radius: 6px;
}

.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0;
    width: 100%;
    padding: 8px 14px;
    border-radius: 8px;
    background-color: #ffffff;
}

.task span{
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
}

.delete{
    max-width: 50px;
    background-color: #5d3030;
    color: white;
    cursor: pointer;
}

.other-pro{
    display: flex;
    /* margin: 40px; */
}
.notes{
    flex-grow: 8;
    background-color: antiquewhite;
    margin: 40px;
    padding: 40px;
    border-radius: 10px;
    background-color: #FFFF99;
}
.notes h1{
    font-size: 40px;
    font-family: cursive;
}
.notes textarea{
    width: 100%;
    height: 80%;
    background-color: #ffffc2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    padding: 10px;
}
.calculator{
    flex-grow: 1;
    background-color: antiquewhite;
    margin: 40px;
    padding: 40px;
    border-radius: 10px;
    background-color: #4C0027;
}
.calculator h1{
    color: white;
    font-size: 40px;
}
#cal-display{
    height: 14%;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: #750550;
    color: white;
    text-align: right;
    /* font-size: 24px; */
}
.cal-buttons{
    margin-top: 10px;
}

.row button{
    margin: 2px;
    width: 23.5%;
    height: 15%;
    background-color: #570530;
    color: white;
    /* white-space: nowrap; */
    padding: 8px;
    font-size: 24px;
    cursor: pointer;
}